.body_format {
	background: #777;
	font-family: font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	width: 100%;
	height: 100%;
}

.header_format {
	position: relative;
	width: 60%;
	padding: 20px;
	border: black;
	background: #D3D3D3;
	text-align: center;
	color: gray;
	font-size: 18px;
	margin: auto;
	left: 10px;
}

.nav_format {
	width: 60%;
	padding: 20px;
	border: black;
	background: #D3D3D3;
	text-align: center;
	color: gray;
	font-size: 18px;
	margin: auto;
}

.section_format {
	width: 25%;
	background: #D3D3D3;
	float: left;
	text-align: center;
    margin-left: 255px;
	padding: 20px;
	color: gray;
}

.article_format {
	background: #777;
	margin: 20px;
	color: #D3D3D3;
	padding: 5px;
}


.aside_format {
	width: 27%;
	background: #D3D3D3;
	text-align: center;
	float: left;
    margin-left: 31px;
    height: 175px;
    padding: 40px;
    color: gray;
}

.header1_format {
	background: #D3D3D3;
	color: #777;
	width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.paragraph_format {
	background: #D3D3D3;
	color: #777;
	width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.footer_format {
	clear: both;
	background: #D3D3D3;
	color: gray;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 280px;
	margin-left: 254px;
	width: 63%;
}